.cor-menu{
    background-color:#f15218;
    width: 100%;
    padding: 8px;
    
}
.menu img{
    width: 20px;
    margin-right: 10px;
}
.menu a{
    color:white;
    font-weight: bolder;
}
.icones{
    display: inline;
    margin-left: 600px;
    
}
.menu-principal{
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu-principal h1{
    display: inline;
    
}

.links-menu{
    margin-left: 400px;
    display: inline;
    padding-top: 20px;
    padding-bottom: 20px;
}
.linkis-menu a{
margin-right: 10px;
font-weight: bold;
}
.background{
height: 2000px;
background-image: url(./imagem/103147.jpg);
background-repeat: no-repeat;
background-size:contain;
}
.titulo{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color:black;
    text-align: center;
    padding-top: 100px;
    width: 700px;
    margin: 0 auto;
}

.cor-b{
    background-color: #f15218;
    color:white;
    font-weight: bold;

}

.titulo h1{
    margin-bottom: 40px;
}
.titulo h5{
    margin-bottom: 30px;
}
.conteudo{
    margin-bottom: 90px;
}
.img{
    width: 60px;
    margin: 0 auto;
}

.nborder{
    border: none;
}
footer {
    background-color: rgb(255, 255, 255);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}